/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 160px;
    padding: 25px 0;
    background-color: rgb(15, 39, 65);
    padding-bottom: 60px;
    padding-top: 40px;

}

main {
    padding: 50px 0;
    flex: 1 1 0;
}

footer {
    padding: 10px 0;
    text-align: right;
    color: rgba(255, 255, 255, 0.4);
    background-color: #333;
}

.gridWrapper {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1186px;
}

/* Logo */
.logo {
    display: block;
    width: auto;
    height: 18px;
}

/* Text */
.headline {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.paragraph {
    margin-top: 0.5em;
    max-width: 75ch;
}
.paragraph:first-of-type {
    margin-top: 0;
}
.statistaLogoSvg__path {
    fill: #fff;
}
.homeBgWave__background {
    fill: #fff;
}
.homeBgWave__wave {
    fill: #ccc;
}

.statistaLogo{
    height: 36px;
    width: 184px;   
}
.homeBgWave {
    display: block;
    width: 100%;
    position: absolute;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border-bottom: 2px solid #fff;
    bottom: -3px;
    right: 0;
    height: 50px;
}

@media only screen and (max-width: 767px) {
    .homeBgWave {
        width: calc(200% + 10px);
        right: -100%;
        bottom: -3px;
    }
}


/* Fizz Buzz list */

#fizzBuzzList {
    margin-top: 40px;
}

.fizzBuzzList_ul{
    display: flex;
    max-width: 1186px;
    flex-wrap: wrap;
}
.fizzBuzzList_ul_li {
    background-color: rgba(11, 133, 229, 0.1);
    font-size: 12px;
    padding: 5px 10px;
    margin: 5px 5px;
    width: 50px;
    text-align: center;
}
